.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-color:rgb(173, 173, 173);
    border-bottom-style:solid;
    z-index:100;

}
.left-section{
    display:flex;
    align-items:center;
}
.middle-section{
    
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
    display:flex;
    align-items:center;
    
}
.right-section{
    margin-right:24px;
    width:180px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-shrink:0;

}
.hamburger-icon{
    height:20px;
    margin-left:24px;
    margin-right:24px;
}
.youtube-logo{
    height:20px;
}
.search-button{
    height:38px;
    width:66px;
    margin-top:1px;
    background-color:rgb(240, 227, 227);
    border-width:1px;
    border-style:solid;
    border-color:rgb(172, 172, 172);
    margin-left:-1px;
    margin-right:10px;

}
.search-button,.voice-search-button,.upload-icon-container,.youtube-apps-icon-container,.notifications-container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto,Arial;
}
.search-button .tooltip,.voice-search-button .tooltip,.upload-icon-container .tooltip, .youtube-apps-icon-container .tooltip,.notifications-container.tooltip{
    position:absolute;
    background-color: gray;
    color: white;
    padding-top:4px;
    padding-bottom:4px;
    padding-left: 7px;
    padding-right:7px;
    font-size:12px;
    border-radius:2px;
    bottom:-30px;
    opacity:0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
   

}
.search-button:hover .tooltip, .voice-search-button:hover .tooltip,.upload-icon-container:hover .tooltip,.youtube-apps-icon-container:hover .tooltip,
.notifications-container:hover.tooltip{
    opacity:1;
}
.voice-search-button{
    height:40px;
    width:40px;
    border-radius:20px;
    border:none;
    background-color:rgb(235, 235, 235);
}
.search-icon{
    height:25px;
}
.voice-search-icon{
    height:24px;
    
}
.upload-icon{
    height:24px;
}
.youtube-apps-icon{
    height:24px;
}
.notifications-icon{
    height:24px;
}
.current-user-profile{
    height:32px;
    border-radius:16px;
}
.notifications-container{
    position:relative;
}
.notifications-count{
    position:absolute;
    background-color:rgb(207, 7, 7);
    color:white;
    top:-3px;
    right:-5px;
    font-family:Roboto,Arial;
    font-size:12px;
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:10px;

}
